<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>View Pie</title>
</head>

<body>
    <div>
        <nav class="navbar">
            <div class="navbar-brand">
                <h1>PyPie Derby</h1>
            </div>

            <div class="navbar-links">
                <a href="/dashboard/{{ session['user_id'] }}">
                    <button class="btn btn-secondary">Dashboard</button>
                </a>
                <a href="/">
                    <button class="btn btn-secondary">Logout</button>
                </a>
            </div>
        </nav>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container flash-messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container mt-4">
        <h5 class="mb-2"><strong>{{ pie.name }} by {{ pie.creator.first_name }} {{ pie.creator.last_name }}</strong></h5>
        <p>{{ pie.filling }}</p>

        <p>with {{ pie.crust }}</p>
    </div>

    {% if session.user_id != pie.creator.id %}
    {% if not user_has_voted %}
    <div class="container mt-4">
        <h3>Cast a vote:</h3>
        <form method="POST" action="/add_vote/{{ pie.id }}">
            <button type="submit" class="btn btn-primary">Delicious</button>
        </form>
    </div>
    {% else %}
    <div class="container mt-4">
        <h3>Cast a vote:</h3>
        <form method="POST" action="/remove_vote/{{ pie.id }}">
            <button type="submit" class="btn btn-secondary">Yuck</button>
        </form>
    </div>
    {% endif %}
    </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>